@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: white;
}

input:focus {
  border: none;
  outline: none;
}

.test {
  border: solid 1px red !important;
}

button {
  cursor: pointer !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #15be62;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #09a751;
}
