@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: white;
}

input:focus {
  border: none;
  outline: none;
}

.test {
  border: solid 1px red !important;
}

button {
  cursor: pointer !important;
}

/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
