.RightQuote::before {
  content: '“';
  font-family: 'Oldenburg';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  color: #3CBC8D;
}

.LeftQuote::after {
  content: '”';
  font-family: 'Oldenburg';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  color: #3CBC8D;
}
