.TableRow {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
}

.TableRow:hover .TableRow__IconFolder {
  fill: white;
  background: #15be62;
}

.TableHeader {
  display: none;
}

@media (min-width: 768px) {
  .TableRowData {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 1fr 1fr;
    gap: 1rem;
  }

  .TableHeader {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 1fr 1fr 2rem;
    gap: 1rem;
  }
}
