.CulturaGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 150px;
  align-items: center;
}

.BoxImg {
  display: grid;
  grid-template-columns: repeat(4, 10fr);
  grid-template-rows: 13fr 10fr 10fr 10fr 10fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  }

  .box_5 {
    grid-area: 2 / 1 / 6 / 3;
  }

  .box_6 {
    grid-area: 2 / 3 / 4 / 5;
  }
  .box_7 {
    grid-area: 4 / 3 / 6 / 5;
  }

